# Import modules

In [29]:
from pandas import *
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import scale
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import mean_squared_error
from sklearn.cross_validation import KFold
import sklearn as sk
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

df = pandas.DataFrame.from_csv('./trainingData.csv')
print(df)

     Months since Last Donation  Number of Donations  \
619                           2                   50
664                           0                   13
441                           1                   16
160                           2                   20
358                           1                   24
335                           4                    4
47                            2                    7
164                           1                   12
736                           5                   46
436                           0                    3
460                           2                   10
285                           1                   13
499                           2                    6
356                           2                    5
40                            2                   14
191                           2                   15
638                           2                    6
345                           2                    3
463                           2                    3
372                           4                   11
8                             2                    6
539                           2                    6
734                           4                   14
573                           4                    6
482                           4                    8
330                           1                   14
222                           4                   10
175                           4                   10
606                           2                   16
340                           2                    8
..                          ...                  ...
577                          11                    4
118                          21                    6
532                          23                    2
338                          23                    6
365                          14                    2
173                          16                    4
715                          16                    5
2                            21                    2
387                          21                    3
738                          23                    8
610                          21                    3
450                          21                    3
232                          21                    1
440                          21                    1
183                          25                    6
60                           21                    1
58                           21                    1
49                           23                    3
674                          21                    2
204                          14                    3
361                          23                    1
30                           23                    1
337                          23                    1
496                          23                    1
169                          23                    1
698                          23                    1
433                          16                    3
360                          21                    2
541                          39                    1
74                           72                    1

     Total Volume Donated (c.c.)  Months since First Donation  \
619                        12500                           98
664                         3250                           28
441                         4000                           35
160                         5000                           45
358                         6000                           77
335                         1000                            4
47                          1750                           14
164                         3000                           35
736                        11500                           98
436                          750                            4
460                         2500                           28
285                         3250                           47
499                         1500                           15
356                         1250                           11
40                          3500                           48
191                         3750                           49
638                         1500                           15
345                          750                            4
463                          750                            4
372                         2750                           28
8                           1500                           16
539                         1500                           16
734                         3500                           40
573                         1500                           14
482                         2000                           21
330                         3500                           58
222                         2500                           28
175                         2500                           28
606                         4000                           64
340                         2000                           28
..                           ...                          ...
577                         1000                           74
118                         1500                           48
532                          500                           23
338                         1500                           45
365                          500                           35
173                         1000                           58
715                         1250                           71
2                            500                           26
387                          750                           35
738                         2000                           69
610                          750                           38
450                          750                           40
232                          250                           21
440                          250                           21
183                         1500                           50
60                           250                           21
58                           250                           21
49                           750                           39
674                          500                           33
204                          750                           79
361                          250                           23
30                           250                           23
337                          250                           23
496                          250                           23
169                          250                           23
698                          250                           23
433                          750                           86
360                          500                           52
541                          250                           39
74                           250                           72

     Made Donation in March 2007
619                            1
664                            1
441                            1
160                            1
358                            0
335                            0
47                             1
164                            0
736                            1
436                            0
460                            1
285                            0
499                            1
356                            1
40                             1
191                            1
638                            1
345                            1
463                            1
372                            0
8                              1
539                            1
734                            0
573                            0
482                            0
330                            0
222                            1
175                            1
606                            0
340                            1
..                           ...
577                            0
118                            0
532                            0
338                            0
365                            1
173                            0
715                            0
2                              0
387                            0
738                            0
610                            0
450                            0
232                            0
440                            0
183                            0
60                             0
58                             0
49                             0
674                            0
204                            0
361                            1
30                             0
337                            0
496                            0
169                            0
698                            0
433                            0
360                            0
541                            0
74                             0

[576 rows x 5 columns]

# Normalize Data

In [28]:
x = sk.preprocessing.normalize(df)
print(x)

[[  1.59993801e-04   3.99984501e-03   9.99961253e-01   7.83969623e-03
    7.99969003e-05]
 [  0.00000000e+00   3.99981937e-03   9.99954843e-01   8.61499557e-03
    3.07678413e-04]
 [  2.49988415e-04   3.99981464e-03   9.99953659e-01   8.74959452e-03
    2.49988415e-04]
 ...,
 [  4.17379569e-02   3.97504352e-03   9.93760879e-01   1.03351131e-01
    0.00000000e+00]
 [  1.52335615e-01   3.90604140e-03   9.76510350e-01   1.52335615e-01
    0.00000000e+00]
 [  2.66723383e-01   3.70449144e-03   9.26122859e-01   2.66723383e-01
    0.00000000e+00]]

# Tuning

In [ ]:
scores = {}
for k in kValues:
    currentScores = []
    for train_index, val_index in folds:
        current_train_data, current_val_data = data_train_stand[train_index], data_train_stand[val_index]
        current_train_price, current_val_price = price_train_stand[train_index], price_train_stand[val_index]\
        neigh = KNeighborsRegressor(n_neighbors = k)
        neigh.fit(current_train_data, current_train_price)
        guesses = neigh.predict(current_val_data)
        rmse = np.sqrt(mean_squared_error(guesses, current_val_price))
        currentScores.append(rmse)
        scores[k] = currentScores

# Fit Model KNN (skip tuning)

In [37]:
neigh = KNeighborsClassifier(n_neighbors = x) 
neighFit = neigh.fit(features, outcome)

neigh.predict_proba(neighFit)[0:,1]

NameError: name 'features' is not defined